.weather-card {
    max-width: 100%;
    margin: 40px auto;
    padding: 10px 20px;
}

.weather-card h2,
.weather-card h3,
.weather-card p {
    margin: 10px 0;
}

.temperature {
    font-size: 2rem;
}

#falling::after,
#rising::after {
    font-size: 1rem;
    margin-left: 5px;
    vertical-align: super;
}

#falling::after {
    content: "▼";
    color: blue;
}

#rising::after {
    content: "▲";
    color: red;
}

.wind {
    font-size: 2rem;
    vertical-align: sub;
}