* {
    font-family: 'Nunito', sans-serif;
    font-family: 'Rubik', sans-serif;
    font-weight: 400;
}

main {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 100vh;
    color: #333;
    padding: 20px;
}

.weather-search {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.weather-search label {
    font-size: 1.25rem;
    text-shadow: 2px 2px 5px rgba(255, 255, 255, 0.5);
}

.weather-search input,
.weather-search button {
    padding: 5px 10px;
    border: none;
    border-radius: 3px;

}

.weather-search input {
    margin: 5px 0;
}

.weather-search button {
    margin-bottom: 10px;
    background-color: lightblue;
    color: #333;
    cursor: pointer;
}

.weather-forecasts-12h {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    padding: 10px 20px;
}