.weather-forecast-card,
.weather-forecast-card img {
    border-radius: 2px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);

}

.weather-forecast-card {
    background-color: rgba(255, 255, 255, 0.3);
    width: 47%;
    margin: 10px 0;
    text-align: center;
}

.weather-forecast-card p {
    margin: 10px;
    font-size: 0.8rem;
}

.weather-forecast-card .forecast-day {
    font-size: 1.2rem;
}

.weather-forecast-card .forecast-temperature-high {
    font-size: 1.5rem;
}

.weather-forecast-card .forecast-temperature-low {
    font-size: 1.2rem;
}


.weather-forecast-card img {
    width: 50%;
    height: auto;
}

@media screen and (min-width: 700px) {
    .weather-forecast-card {
        width: 31%;
    }
}

@media screen and (min-width: 1000px) {
    .weather-forecast-card {
        width: calc(100%/7 - 10px);
    }
}